@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}