.demoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding-top: 3vw;
}

body {
  margin: 0;
  padding: 0;
}

.Visualizers {
  margin-bottom: 2.1vw;
}

.query {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.queryResult {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: start;
}

::-webkit-scrollbar {
  background-color: black;
}
