.link {
  display: flex;
}

.node {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 100px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.latency {
  font-size: 20px;
  margin: 0;
}

.arrow {
  width: 70px;
  height: auto;
}
