$fonts: 'Poppins', Helvetica;
$primary-color: teal;
$secondary-color: teal;
$tertiary-color: teal;
$dark-font-color: black;
$light-font-color: white;
$primary-background: teal;
$secondary-background: teal;
