@tailwind base;
@tailwind components;
@tailwind utilities;

.welcomeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 240, 251);
  padding: 8vw;
  color: #0a405f;
}

.logoGIF {
  width: 70%;
}

.welcome {
  font-size: 4vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.productDescription {
  text-align: center;
  font-size: 1.1vw;
}

/* .navbar.bg-neutral.text-neutral-content.sticky.top-0.NavBarContainer {
  background: linear-gradient(10deg, rgb(3, 129, 187), rgb(192, 20, 129));
  padding: none;
} */

.carousel.w-full {
  width: 100vw;
  height: 300px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(10deg, rgb(3, 129, 187), rgb(192, 20, 129));
  width: 100vw;
  height: 300px;
}

.carousel-item.relative.w-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}