.NavBar {
  background-color: #245594;
  font-family: Georgia, serif;
  font-size: 1.1vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 10%;
}

.BodyDiv {
  background-color: #d4ecf0;
}

.logo {
  width: 6vw;
  height: 4vw;
  margin-left: 2vw;
}

.listDiv {
  display: flex;
  align-items: center;
}

.list {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #245594;
  border-style: none;
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin-right: 1.5vw;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffd240;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  border-radius: 10%;
  font-size: 1.3vw;
  color: #fab120;
}
